<include file="Public:head"/>




<script type="text/javascript" src="__LHG__/lhgcore.min.js"></script>
<script type="text/javascript" src="__LHG__/lhgcalendar.min.js"></script>

<script type="text/javascript">

    J(function(){
        J('#starttime').calendar({ format:'yyyy-MM-dd HH:mm:ss' });
        J('#endtime').calendar({ format:'yyyy-MM-dd HH:mm:ss' });
//    $(function(){
//        $('#starttime').calendar({ format:'yyyy-MM-dd' });
//        $('#endtime').calendar({ format:'yyyy-MM-dd' });
    });

</script>
<div class="container">
<div class="inner clearfix">
<div class="content-left fl">
    <dl class="left-menu shop_9 sub_cw">
            <dt>
                <i class="icon-menu cw"></i>
                <span id="shop_9" data-id="9">分销财务</span>
            </dt>
        <dd class="subshop_0 ">
            <a href="{:U('/Admin/Cash/cashapply')}">提现申请管理</a>
        </dd>
        <dd class="subshop_2 ">
        <a href="{:U('/Admin/Cash/cashlist')}">提现记录</a>
        </dd>
        <dd class="subshop_4 active">
            <a href="{:U('/Admin/Cash/cashrecharge')} ">账号充值记录</a>
        </dd>
        <!--<dd class="subshop_5 ">-->
        <!--<a href="/Dist/commission_list">分销商佣金列表</a>-->
        <!--</dd>-->
        <!--<dd class="subshop_14 ">-->
        <!--<a href="/Dist/capital_log">资金监控日志</a>-->
        <!--</dd><dd class="subshop_15 ">-->
        <!--<a href="/Dist/rebate">返利统计</a>-->
        <!--</dd>-->
        <dd class="subshop_16 ">
            <a href="{:U('/Admin/Cash/yongjintocash')} ">佣金转余额审核列表</a>
        </dd>
    </dl></div>
<!-- end content-left -->

<div class="content-right fl">

    <h1 class="content-right-title">充值记录</h1>

    <div class="tablesWrap">
        <form action="" method="post" name="form1">
            <div class="tables-searchbox">
                <!--<input type="text" class="input" name="alipay_account" value='' placeholder="">-->
                <input type="text" autocomplete="off" name="starttime" id="starttime" value="" placeholder="充值日期" class="input Wdate" >
                <span class="mgr5">至</span>
                <input type="text" autocomplete="off" name="endtime"id="endtime" value="" placeholder="充值日期" class="input Wdate" >
                <button class="btn btn-primary"><i class="gicon-search white"></i>查询</button>
            </div>
        </form>
        <!-- end tables-searchbox -->
        <table class="wxtables">
           <colgroup>
                <col width="25%">
                <col width="10%">
                <col width="25%">
                <!--<col width="15%">-->
                <col width="25%">
            </colgroup>
            <thead>
            <tr>
                <td>充值时间</td>
                <td>充值金额（元）</td>
                <td>用户昵称/手机</td>
                <!--<td>充值方式</td>-->
                <td>备注</td>
            </tr>
            </thead>
            <tbody>
            <volist name="paymentlist" id="vo" empty="$empty">
                <tr>
                    <td>
                   {$vo.addtime}
                    </td>
                    <td>
                   {$vo.cash}
                </td>
                    <td>
                   {$vo.telephone}
                </td>
                    <td>
                   {$vo.beizhu}
                </td>
                </tr>




            </volist>

                            </tbody>
        </table>
        <!-- end wxtables -->
                <!-- end tables-btmctrl -->
    </div>




</div>
<!-- end content-right -->
</div>
</div>
<!-- end container -->


<include file="Public:foot"/>
