<include file="Public:head"/>

<div class="container">
<div class="inner clearfix">
<div class="content-left fl">
    <dl class="left-menu shop_9 sub_cw">
            <dt>
                <i class="icon-menu cw"></i>
                <span id="shop_9" data-id="9">分销财务</span>
            </dt>
        <dd class="subshop_0">
            <a href="{:U('/Admin/Cash/cashapply')}">提现申请管理</a>
        </dd><dd class="subshop_2 ">
        <a href="{:U('/Admin/Cash/cashlist')}">提现记录</a>
    </dd>
        <dd class="subshop_4 active">
            <a href="{:U('/Admin/Cash/cashrecharge')} ">账号充值记录</a>
        </dd>
        <!--<dd class="subshop_5 ">-->
        <!--<a href="/Dist/commission_list">分销商佣金列表</a>-->
        <!--</dd>-->
        <!--<dd class="subshop_14 ">-->
        <!--<a href="/Dist/capital_log">资金监控日志</a>-->
        <!--</dd><dd class="subshop_15 ">-->
        <!--<a href="/Dist/rebate">返利统计</a>-->
        <!--</dd>-->
        <dd class="subshop_16 ">
            <a href="{:U('/Admin/Cash/yongjintocash')} ">佣金转余额审核列表</a>
        </dd>   </dl></div>
<!-- end content-left -->

<div class="content-right fl">
 

    <h1 class="content-right-title">佣金转余额审核列表</h1>
    
    
    <div class="tablesWrap">
        <table class="wxtables">
            <colgroup>
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="20%">
                <col width="20%">
            </colgroup>
            <thead>
            <tr>
                <td>昵称</td>
                <td>手机号</td>
                <td>变动金额</td>
                <td>创建时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr><td colspan="5">暂无信息</td></tr>
                            </tbody>
        </table>
        <!-- end wxtables -->
                <!-- end tables-btmctrl -->
    </div>




</div>
<!-- end content-right -->
</div>
</div>

<!-- end container -->
<include file="Public:foot"/>
