<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" name="viewport">
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta name="format-detection" content="telephone=no">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <title>会员中心</title>
    <!-- <link rel="stylesheet" href="__CSS__/style.css"> -->
    <link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/SpsBtn.css">
    

    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" href="__CSS__/regularmembers.css">
    <link rel="stylesheet" href="__CSS__/orderlist.css">
    <!--<script src="__JS__/jQuery1.7.js"></script>-->
    <script src="__JS__/jquery-1.7.1.js"></script>


</head>