<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>果易得</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=yes" name="format-detection" />
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    
	
    
    <link rel="stylesheet" href="__CSS__/css.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="__CSS__/iconfont1.css">
    <link rel="stylesheet" href="__CSS__/iconfont.css">
</head>
<body id="scroll_top">
	<!-- top -->
	<div class="top">
    	<div class="logo"><a href="index.html"><img src="__IMAGES__/logo.png" height="30px"></a></div>
        <div class="city"><a href="address1.html">杭州</a></div>
        <div class="class"></div>
    </div>
    <!-- top -->
	<!-- main_div -->
    <div class="main_div">
      <div class="list">
        
         <span class="listleft"><img src="__IMAGES__/mb_03.png" width="100%"></span>
         <div class="listleft"></div>
         <div class="listright">
             <p style=" font-size:12px;height:20px; text-align:center;overflow:hidden;">GUANXI SHADDOCK</p>
             <p style="font-size:14px; text-align:center; color:#000; overflow:hidden;height:20px;">平和<span style=" color:#888;">琯溪</span>白肉蜜柚</p>
             <p style=" color:#f68f15; text-align:center; font-size:18px;height:40px;"><span style=" font-size:12px;">￥</span>39.8<span style="font-size:14px;">（2颗）</span></p>
          </div>
        
       </div>
       
      <div class="cen">
          <div class="title1">平和琯溪蜜柚 白肉蜜柚2个</div>
        <div class="neiron">平和琯溪蜜柚以皮薄多汁、清田醇蜜、酸甜适中之优良品质而闻名古今中外也是春节前后许多消费者必备果品。柚子可以理气化痰、润肺清肠、补血健脾等功效，能治食少、口淡、消化不良等症，能帮助消化、除痰止渴、理气散结。</div>
       </div>
       
      
      
      <div class="tuan">
       
        <div class="tubiao"><img src="__IMAGES__/slo_03.png" width="100%"></div>
         
      
        <div class="price1">
          <div class="r">6人团</div>
          <span>￥36.80</span>
          <button style=" border:none; border-bottom:none; width:72px; float:left;background:none;"><img src="__IMAGES__/1.png" width="100%"></button>
        </div>
     </div>
     
       
       
       
    
    
      
    
    
    
 
  
      
	</div>
    
    
        <div class="main_div">
      <div class="list">
        
         <span class="listleft"><img src="__IMAGES__/mb_03.png" width="100%"></span>
         <div class="listleft"></div>
         <div class="listright">
             <p style=" font-size:12px;height:20px; text-align:center;overflow:hidden;">GUANXI SHADDOCK</p>
             <p style="font-size:14px; text-align:center; color:#000; overflow:hidden;height:20px;">平和<span style=" color:#888;">琯溪</span>白肉蜜柚</p>
             <p style=" color:#f68f15; text-align:center; font-size:18px;height:40px;"><span style=" font-size:12px;">￥</span>39.8<span style="font-size:14px;">（2颗）</span></p>
          </div>
        
       </div>
       
      <div class="cen">
          <div class="title1">平和琯溪蜜柚 白肉蜜柚2个</div>
        <div class="neiron">平和琯溪蜜柚以皮薄多汁、清田醇蜜、酸甜适中之优良品质而闻名古今中外也是春节前后许多消费者必备果品。柚子可以理气化痰、润肺清肠、补血健脾等功效，能治食少、口淡、消化不良等症，能帮助消化、除痰止渴、理气散结。</div>
       </div>
       
      
      
      <div class="tuan">
       
        <div class="tubiao"><img src="__IMAGES__/slo_03.png" width="100%"></div>
         
      
        <div class="price1">
          <div class="r">6人团</div>
          <span>￥36.80</span>
          <button style=" border:none; border-bottom:none; width:72px; float:left;background:none;"><img src="__IMAGES__/1.png" width="100%"></button>
        </div>
     </div>
     
       
       
       
    
    
      
    
    
    
 
  
      
	</div>
    
    
        <div class="main_div" style=" padding-bottom:180px;">
      <div class="list">
        
         <span class="listleft"><img src="__IMAGES__/mb_03.png" width="100%"></span>
         <div class="listleft"></div>
         <div class="listright">
             <p style=" font-size:12px;height:20px; text-align:center;overflow:hidden;">GUANXI SHADDOCK</p>
             <p style="font-size:14px; text-align:center; color:#000; overflow:hidden;height:20px;">平和<span style=" color:#888;">琯溪</span>白肉蜜柚</p>
             <p style=" color:#f68f15; text-align:center; font-size:18px;height:40px;"><span style=" font-size:12px;">￥</span>39.8<span style="font-size:14px;">（2颗）</span></p>
          </div>
        
       </div>
       
      <div class="cen">
          <div class="title1">平和琯溪蜜柚 白肉蜜柚2个</div>
        <div class="neiron">平和琯溪蜜柚以皮薄多汁、清田醇蜜、酸甜适中之优良品质而闻名古今中外也是春节前后许多消费者必备果品。柚子可以理气化痰、润肺清肠、补血健脾等功效，能治食少、口淡、消化不良等症，能帮助消化、除痰止渴、理气散结。</div>
       </div>
       
      
      
      <div class="tuan">
       
        <div class="tubiao"><img src="__IMAGES__/slo_03.png" width="100%"></div>
         
      
        <div class="price1">
          <div class="r">6人团</div>
          <span>￥36.80</span>
          <button style=" border:none; border-bottom:none; width:72px; float:left;background:none;"><img src="__IMAGES__/1.png" width="100%"></button>
        </div>
     </div>
     
       
       
       
    
    
      
    
    
    
 
  
      
	</div>
	<!-- main_div -->
    <div class="scorll_top"><a href="#scroll_top"><img src="__IMAGES__/scorll_top.png"></a></div>
    <!-- footer -->
    <div class="footer">
    	<ul>
        	<li>
            	<a href="index.html">
                	<div class="footer_tb footer_tb01 iconfont">&#xe608;</div>
                    <p>首页</p>
                </a>
            </li>
            <li id="foot_current">
            	<a href="list.html">
                	<div class="footer_tb footer_tb02 iconfont" style="color:#1e8250;">&#xe62e;</div>
                    <p>分类</p>
                </a>
            </li>
            <li>
            	<a href="gwc.html">
                	<div class="footer_tb footer_tb03 iconfont1 more_m">&#xe62a;</div>
                    <p>购物车</p>
                </a>
            </li>
            <li>
            	<a href="my.html">
                	<div class="footer_tb footer_tb04 iconfont">&#xe61c;</div>
                    <p>个人中心</p>
                </a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <!-- footer -->
    <!-- dizhi -->
    <!-- dizhi -->
    <div class="dizhi" style="display:none;">
    	<!-- dizhi1 -->
    	<div class="dizhi1">
        	<div class="xzcity">
            	<img src="__IMAGES__/xzcity.png" width="100%">
                <div class="city_wz">
                	<div class="city_tb"><img src="__IMAGES__/city_tb.png"></div>
                    <div class="city_p"><a href="javascript:void(0);">亲，请先选择您的收货城市</a></div>
                    <div class="city_jt"><a href="javascript:void(0);"><img src="__IMAGES__/city_jt.png" onmouseover="this.src='__IMAGES__/city_jth.png'" onmouseout="this.src='__IMAGES__/city_jt.png'" width="100%" ></a></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!-- dizhi1 -->
        <!-- dizhi2 -->
        <div class="dizhi2">
        	<!-- city_div -->
        	<div class="city_div">
            	<div class="chose_city">选择收货城市</div>
                <div class="city_xuanze">
                	<!-- city_xuanze_js -->
                    <div class="info">
	<div>
	<select id="s_province" name="s_province"></select>&nbsp;&nbsp;
    <select id="s_city" name="s_city" ></select>&nbsp;&nbsp;
    <select id="s_county" name="s_county"></select>
    <script class="resources library" src="js/area.js" type="text/javascript"></script>
    
    <script type="text/javascript">_init_area();</script>
    </div>
    <div id="show"></div>
</div>
                    <!-- city_xuanze_js -->
                </div>
                <div class="xuanze_qd"><a href="javascript:void(0);">确定</a></div>
            </div>
            <!-- city_div -->
            <!-- city_div1 -->
            <div class="city_div1">
            	<div class="peisong">根据您在<span>杭州</span>的区域选择配送方式</div>
                <div class="wuliu">
                	<div class="wl_name"><input type="radio" checked="checked" name="sex"  	value="male"/>叶氏物流</div>
                    <div class="wl_didian">下城区、上城区、西湖区、滨江区、江干区、拱墅区、余杭区、萧山区</div>
                </div>
                <div class="wuliu">
                	<div class="wl_name"><input type="radio" checked="checked" name="sex"  	value="male"/>第三方物流</div>
                    <div class="wl_didian">淳安县、临安县、富阳市、桐庐县、建德市</div>
                    <div class="xuanze_qd1"><a href="javascript:void(0);">确定</a></div>
                </div>
            </div>
            <!-- city_div1 -->
            <!-- tishi -->
            <div class="tishi">
            	<div class="tishi_nr">
                	<div class="tishi_nr1">切换城市将清空购物车</div>
                    <div class="tishi_nr2">
                    	<div class="tishi_nr2a"><a href="javascript:void(0);">取消</a></div>
                        <div class="tishi_nr2b"><a href="javascript:void(0);">确认</a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!-- tishi -->
        </div>
        <!-- dizhi2 -->
    </div>
    <!-- dizhi -->
    <!-- dizhi -->
</body>


<script src="js/jquery.min.js"></script>
<!-- banner -->
<script src="js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        // Enable debugger
        debugger: true
    });
    </script>
<!-- banner -->
<script src="js/js.js"></script>
</html>