<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>果易得</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=yes" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__CSS__/css.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<link rel="stylesheet" href="__CSS__/iconfont1/iconfont1.css">
<link rel="stylesheet" href="__CSS__/iconfont/iconfont.css">

</head>
<body id="scroll_top">
	<!-- prompt -->
	<div class="prompt">
    	<div class="prompt_wz">
        	<p id="effect" style="color:#fff;">叶氏兄弟旗下品牌果易得O2O体验商城正式上线！</p>
        </div>
    </div>
    <!-- prompt -->
<!-- top -->
<include file="Public:top" />

<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/jquery.LoadImage.js"></script>
<script>
$(function(){
	$("img").LoadImage(true,"__IMAGES__/loading.gif");
});
</script>





<!-- top --> 
<!-- main_div -->
<div class="main_div main_div01"> 
  <!-- banner -->
  <div class="banner">
    <div class="swiper-container">
      <div class="swiper-wrapper">
		<foreach name="pic1" item="vo">
            <div class="swiper-slide">
            	<eq name="vo.is_urls" value="2" >
                    <a href="{$vo.urls}"  title="{$vo.title}" alt="{$vo.title}">
                    <img src="{$vo.pic}" width="100%" title="{$vo.title}" alt="{$vo.title}" class="scrollLoading" >
                    </a>
                </eq>
                
				<if condition="($vo.is_urls eq 1) AND ($vo.is_urls_type eq 1) "> 
                    <a href="{:U('Index/yhq')}"  title="{$vo.title}" alt="{$vo.title}">
                    <img src="{$vo.pic}" width="100%" title="{$vo.title}" alt="{$vo.title}" class="scrollLoading" >
                    </a>
                </if>
                
				<if condition="($vo.is_urls eq 1) AND ($vo.is_urls_type eq 2) "> 
                    <a href="{:U('Goods/category')}"  title="{$vo.title}" alt="{$vo.title}">
                    <img src="{$vo.pic}" width="100%" title="{$vo.title}" alt="{$vo.title}" class="scrollLoading" >
                    </a>
                </if>
                
				<if condition="($vo.is_urls eq 1) AND ($vo.is_urls_type eq 3) "> 
                    <a href="{:U('Goods/buy/id/')}/{$vo.goodsid}"  title="{$vo.title}" alt="{$vo.title}">
                    <img src="{$vo.pic}" width="100%" title="{$vo.title}" alt="{$vo.title}" class="scrollLoading" >
                    </a>
                </if>
            </div>
        </foreach>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <!-- banner --> 
  <!-- content_main -->
  <div class="content_main"> 
    <!-- sy_div1 -->
    <div class="sy_div1">
      <ul>
        <li>
          <div class="div1_tb"><a class="iconfont" style=" font-size:30px; border-radius:8px; width:50px; height:50px; line-height:60px; color:#fff; background:url(__IMAGES__/tbbj.png) no-repeat;" href="{:U('Goods/pro_isnew')}">&#xe600;</a></div>
          <div class="dvi1_name"><a href="{:U('Goods/pro_isnew')}">新品尝鲜</a></div>
        </li>
        <li>
          <div class="div1_tb"><a class="iconfont" style=" font-size:22px;border-radius:8px;  width:50px; height:50px; line-height:65px; color:#fff; background:url(__IMAGES__/tbbj1.png) no-repeat;" href="{:U('Member/orderlist')}">&#xe601;</a></div>
          <div class="dvi1_name"><a href="{:U('Member/orderlist')}">我的订单</a></div>
        </li>
        <li>
          <div class="div1_tb"><a class="iconfont" style=" font-size:30px;border-radius:8px;  width:50px; height:50px; line-height:60px; color:#fff; background:url(__IMAGES__/tbbj2.png) no-repeat;" href="{:U('Member/main')}">&#xe63f;</a></div>
          <div class="dvi1_name"><a href="{:U('Member/main')}">会员专区</a></div>
        </li>
        <li>
          <div class="div1_tb"><a class="iconfont" style=" font-size:30px;border-radius:8px;  width:50px; height:50px; line-height:60px; color:#fff; background:url(__IMAGES__/tbbj3.png) no-repeat;" href="{:U('Index/yhq')}">&#xe610;</a></div>
          <div class="dvi1_name"><a href="{:U('Index/yhq')}">优惠券</a></div>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
    
    <!-- sy_div1 --> 
  </div>
  <!-- content_main --> 
  <!-- sy_div5 -->
  <div class="sy_div5 sy_div5a">
    <div class="content_main content_main01">
        <foreach name="pic2" item="vo">
            	<eq name="vo.is_urls" value="2" >
                    <a href="{$vo.urls}"  title="{$vo.title}" alt="{$vo.title}">
                    <img src="{$vo.pic}" width="100%" title="{$vo.title}" alt="{$vo.title}" class="scrollLoading" >
                    </a>
                </eq>
                
				<if condition="($vo.is_urls eq 1) AND ($vo.is_urls_type eq 1) "> 
                    <a href="{:U('Index/yhq')}"  title="{$vo.title}" alt="{$vo.title}">
                    <img src="{$vo.pic}" width="100%" title="{$vo.title}" alt="{$vo.title}" class="scrollLoading" >
                    </a>
                </if>
                
				<if condition="($vo.is_urls eq 1) AND ($vo.is_urls_type eq 2) "> 
                    <a href="{:U('Goods/category')}"  title="{$vo.title}" alt="{$vo.title}">
                    <img src="{$vo.pic}" width="100%" title="{$vo.title}" alt="{$vo.title}" class="scrollLoading" >
                    </a>
                </if>
                
				<if condition="($vo.is_urls eq 1) AND ($vo.is_urls_type eq 3) "> 
                    <a href="{:U('Goods/buy/id/')}/{$vo.goodsid}"  title="{$vo.title}" alt="{$vo.title}">
                    <img src="{$vo.pic}" width="100%" title="{$vo.title}" alt="{$vo.title}" class="scrollLoading" >
                    </a>
                </if>

        </foreach>


     </div>
  </div>
  <!-- sy_div5 --> 
  <!-- sy_div4 -->
  <div class="sy_div4 sy_div4a">
  
  <div class="content_main content_main01">
      <div class="div4_div">
      
      
        <div class="div4_div1"> <a href="{:U('Goods/buy/id/')}/{$hd1.0.goodsid}"><img src="{$hd1.0.pic}" width="100%" class="scrollLoading" ></a> 
          <!-- div4_wzjs -->
          <div class="div4_wzjs">
            <div class="cp_bizi cp_bizi01" style="background: url(__IMAGES__/tbbj3.png) no-repeat;">
              <p>￥<span>{$hd1.0.price}</span></p>
            </div>
            <div class="cp_mc cp_mc01"><a href="{:U('Goods/buy/id/')}/{$hd1.0.goodsid}">{$hd1.0.title}</a></div>
            <div class="cp_p">{$hd1.0.subtitle}</div>
          </div>
          <!-- div4_wzjs --> 
        </div>
        
        <div class="div4_div2">
        
          <div class="div4_div2a"> <a href="{:U('Goods/buy/id/')}/{$hd1.1.goodsid}"><img src="{$hd1.1.pic}" width="100%" class="scrollLoading" ></a> 
            <!-- div4_wzjs -->
            <div class="div4_wzjs1">
              <div class="cp_bizi cp_bizi02" style="background: url(__IMAGES__/tbbj1.png) no-repeat;">
                <p>￥<span>{$hd1.1.price}</span></p>
              </div>
              <div class="cp_mc cp_mc02"><a href="{:U('Goods/buy/id/')}/{$hd1.1.goodsid}">{$hd1.1.title}</a></div>
              <div class="cp_p">{$hd1.1.subtitle}</div>
            </div>
            <!-- div4_wzjs --> 
          </div>
          
          <div class="div4_div2b div4_div2b01"> <a href="{:U('Goods/buy/id/')}/{$hd1.2.goodsid}"><img src="{$hd1.2.pic}" width="100%" class="scrollLoading" ></a> 
            <!-- div4_wzjs -->
            <div class="div4_wzjs1">
              <div class="cp_bizi cp_bizi03" style="background: url(__IMAGES__/tbbj2.png) no-repeat;">
                <p>￥<span>{$hd1.2.price}</span></p>
              </div>
              <div class="cp_mc cp_mc03"><a href="{:U('Goods/buy/id/')}/{$hd1.2.goodsid}">{$hd1.2.title}</a></div>
              <div class="cp_p">{$hd1.2.subtitle}</div>
            </div>
            <!-- div4_wzjs --> 
          </div>
          
        </div>
        
        
        <div class="clear"></div>
      </div>
    </div>
  
    
  </div>
  <!-- sy_div4 -->
  <div class="sy_div5" id="sy_div5b">
    <div class="content_main content_main01"> <a href="{:U('Goods/buy/id/')}/{$hd2.0.goodsid}"><img src="{$hd2.0.pic}" width="100%" class="scrollLoading" ></a> </div>
  </div>
  
  <!-- sy_div4 -->
  <div class="sy_div4 sy_div4b">
  
  <div class="content_main content_main01">
      <div class="div4_div">
        <div class="div4_div1"> <a href="{:U('Goods/buy/id/')}/{$hd2.1.goodsid}"><img src="{$hd2.1.pic}" width="100%" class="scrollLoading" ></a> 
          <!-- div4_wzjs -->
          <div class="div4_wzjs">
            <div class="cp_mc cp_mc04"><a href="{:U('Goods/buy/id/')}/{$hd2.1.goodsid}">{$hd2.1.title}</a></div>
            <div class="cp_p cp_p01"><a href="{:U('Goods/buy/id/')}/{$hd2.1.goodsid}">{$hd2.1.subtitle}</a></div>
            <div class="cp_p1"><a href="{:U('Goods/buy/id/')}/{$hd2.1.goodsid}"><span class="jqfh">￥</span><span class="jqsz">{$hd2.1.price}</span></a></div>
          </div>
          <!-- div4_wzjs --> 
        </div>
        <div class="div4_div2">
          <div class="div4_div2a"> <a href="{:U('Goods/buy/id/')}/{$hd2.2.goodsid}"><img src="{$hd2.2.pic}" width="100%" class="scrollLoading" ></a> 
            <!-- div4_wzjs -->
            <div class="div4_wzjs1">
              <div class="cp_mc cp_mc05"><a href="{:U('Goods/buy/id/')}/{$hd2.2.goodsid}">{$hd2.2.title}</a></div>
              <div class="cp_p"><a href="{:U('Goods/buy/id/')}/{$hd2.2.goodsid}">{$hd2.2.subtitle}</a></div>
              <div class="jgmsys"><a href="{:U('Goods/buy/id/')}/{$hd2.2.goodsid}">￥<span>{$hd2.2.price}</span></a></div>
            </div>
            <!-- div4_wzjs --> 
          </div>
          <div class="div4_div2b div4_div2b02"> <a href="{:U('Goods/buy/id/')}/{$hd2.3.goodsid}"><img src="{$hd2.3.pic}" width="100%" class="scrollLoading" ></a> 
            <!-- div4_wzjs -->
            <div class="div4_wzjs1">
              <div class="cp_mc cp_mc05"><a href="{:U('Goods/buy/id/')}/{$hd2.3.goodsid}">{$hd2.3.title}</a></div>
              <div class="cp_p"><a href="{:U('Goods/buy/id/')}/{$hd2.3.goodsid}">{$hd2.3.subtitle}</a></div>
              <div class="jgmsys"><a href="{:U('Goods/buy/id/')}/{$hd2.3.goodsid}">￥<span>{$hd2.3.price}</span></a></div>
            </div>
            <!-- div4_wzjs --> 
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    
    
  </div>
  <!-- sy_div4 --> 
  <!-- sy_div3 -->
  <div class="sy_div3">
  
  
    <ul>
            	
                
            <foreach name="hd3" item="vo" >    

            <li class=" <lt name="key" value="10">sy3li{$key}</lt> <egt name="key" value="10">sy3li{$key}</egt>">
                <div class="div3_tp">
                    <a href="{:U('Goods/buy/id/')}/{$vo.goodsid}"><img src="{$vo.pic}" width="100%" class="scrollLoading" ></a>
                </div>
                <div class="div3_nr">
                    <div class="div3_nr1">
                        <div class="div3_name"><a href="{:U('Goods/buy/id/')}/{$vo.goodsid}">{$vo.title}</a></div>
                        <div class="div3_name1">{$vo.subtitle}</div>
                       
                       <div class="div3_scjnav">
                        <div class="div3_scj">
                        <a href="{:U('Goods/buy/id/')}/{$vo.goodsid}"><p>￥{$vo.price}</p></a>
                        </div>
                        <div class="div3_scj1"><a href="{:U('Goods/buy/id/')}/{$vo.goodsid}">我要抢鲜</a></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </li>

            
            </foreach>

        </ul>
  
  
  
  
  
  
  
  
    
  </div>
  <!-- sy_div3 --> 
</div>
<!-- main_div -->
<div class="scorll_top"><a href="#scroll_top"><img src="__IMAGES__/scorll_top.png" width="30" class="scrollLoading" /></a></div>
<!-- footer -->
<include file="Public:foot" />
<!-- footer --> 
<!-- dizhi --> 
<!-- dizhi -->
<div class="dizhi" style="display:none;"> 
  <!-- dizhi1 -->
  <div class="dizhi1">
    <div class="xzcity"> <img src="__IMAGES__/xzcity.png" width="100%" class="scrollLoading" >
      <div class="city_wz">
        <div class="city_tb"><img src="__IMAGES__/city_tb.png"></div>
        <div class="city_p"><a href="javascript:void(0);">亲，请先选择您的收货城市</a></div>
        <div class="city_jt"><a href="javascript:void(0);"><img src="__IMAGES__/city_jt.png" onMouseOver="this.src='images/city_jth.png'" onMouseOut="this.src='images/city_jt.png'" width="100%" class="scrollLoading" ></a></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- dizhi1 --> 
  <!-- dizhi2 -->
  <div class="dizhi2"> 
    <!-- city_div -->
    <div class="city_div">
      <div class="chose_city">选择收货城市</div>
      <div class="city_xuanze"> 
        <!-- city_xuanze_js -->
        <div class="info">
          <div>
            <select id="s_province" name="s_province">
            </select>
            &nbsp;&nbsp;
            <select id="s_city" name="s_city" >
            </select>
            &nbsp;&nbsp;
            <select id="s_county" name="s_county">
            </select>
            <script class="resources library" src="__JS__/area.js" type="text/javascript"></script> 
            <script type="text/javascript">_init_area();</script> 
          </div>
          <div id="show"></div>
        </div>
        <!-- city_xuanze_js --> 
      </div>
      <div class="xuanze_qd"><a href="javascript:void(0);">确定</a></div>
    </div>
    <!-- city_div --> 
    <!-- city_div1 -->
    <div class="city_div1">
      <div class="peisong">根据您在<span>杭州</span>的区域选择配送方式</div>
      <div class="wuliu">
        <div class="wl_name">
          <input type="radio" checked="checked" name="sex"  	value="male"/>
          叶氏物流</div>
        <div class="wl_didian">下城区、上城区、西湖区、滨江区、江干区、拱墅区、余杭区、萧山区</div>
      </div>
      <div class="wuliu">
        <div class="wl_name">
          <input type="radio" checked="checked" name="sex"  	value="male"/>
          第三方物流</div>
        <div class="wl_didian">淳安县、临安县、富阳市、桐庐县、建德市</div>
        <div class="xuanze_qd1"><a href="javascript:void(0);">确定</a></div>
      </div>
    </div>
    <!-- city_div1 --> 
    <!-- tishi -->
    <div class="tishi">
      <div class="tishi_nr">
        <div class="tishi_nr1">切换城市将清空购物车</div>
        <div class="tishi_nr2">
          <div class="tishi_nr2a"><a href="javascript:void(0);">取消</a></div>
          <div class="tishi_nr2b"><a href="javascript:void(0);">确认</a></div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-- tishi --> 
  </div>
  <!-- dizhi2 --> 
</div>
<!-- dizhi --> 
<!-- dizhi -->
</body>

<!-- banner -->
<script src="__JS__/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
		autoplay:4000,
        // Enable debugger
        debugger: true
    });
    </script>
<!-- banner -->
<!--<script src="__JS__/js.js"></script>
<script src="__JS__/jquery-2.1.1.min.js" type="text/javascript"></script>-->




<script src="__JS__/js.js"></script>
<script src="__JS__/jquery.easing.1.3.js.js"></script> 
<script src="__JS__/core_plugin.js"></script> 
<script src="__JS__/custom_effect.js.js"></script>



</html>