<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>参团玩法</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=yes" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__CSS__/css.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<link rel="stylesheet" href="__CSS__/iconfont1/iconfont1.css">
<link rel="stylesheet" href="__CSS__/iconfont/iconfont.css">

</head>
<body id="scroll_top">
<img src="__IMAGES__/01.jpg" width="100%" style="margin-bottom:40px;"/>
<!-- top --> 
<!-- main_div -->

<!-- main_div -->
<div class="scorll_top"><a href="#scroll_top"><img src="__IMAGES__/scorll_top.png" width="30" /></a></div>
<!-- footer -->
<include file="Public:foot" />
<!-- footer --> 
<!-- dizhi --> 
<!-- dizhi -->

<!-- dizhi --> 
<!-- dizhi -->
</body>

</html>