<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>果易得</title>
    <meta name="keywords" content="果易得"/>
    <meta name="description" content="果易得"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=yes" name="format-detection" />
    
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <link rel="stylesheet" href="__CSS__/bootstrap.css"/>

    <link rel="stylesheet" href="__CSS__/css.css">
    <link href="iconfont/iconfont.css" rel="stylesheet" type="text/css">
    
</head>
<body id="scroll_top">
	<!-- warp -->
	<div class="warp">
    	<!-- jf_top -->
    	<div class="jf_top">
        	<div class="jf_cen">
            	<div class="jf_jt"><a href="javascript:void(0);"><i class="icon iconfont">&#xe61b;</i></a>果易得积分规则</div>
                <div class="jf_gb"><a href="javascript:void(0);">关闭</a></div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- jf_top -->
        <div class="jf_ban"><img src="__IMAGES__/jf_ban.jpg" width="100%"></div>
        <div class="jf_nr">
        	<ul>
            	<li>
                	<div class="jf_nm">1.积分能为我带来什么？</div>
                    <div class="jf_wz">
                    	<p id="jfp1">在果易得，小小的积分可以为你赢来大大的福利，因为积分：</p>
                        <p>（1）可以在商城兑换各种超值好礼；</p>
                        <p>（2）能让你小试手气，赢得大奖；</p>
                        <p>（3）能够用来秒杀各种商城定期派发的抵用券；</p>
                        <p>（4）在消费时还能抵现金。</p>
                        <p>小美温馨提示：在果易得，抽奖和商品兑换是最划算</p>
                    </div>
                </li>
                
                <li>
                	<div class="jf_nm">2.积分能为我带来什么？</div>
                    <div class="jf_wz">
                    	<p id="jfp1">在果易得，小小的积分可以为你赢来大大的福利，因为积分：</p>
                        <p>（1）可以在商城兑换各种超值好礼；</p>
                        <p>（2）能让你小试手气，赢得大奖；</p>
                        <p>（3）能够用来秒杀各种商城定期派发的抵用券；</p>
                        <p>（4）在消费时还能抵现金。</p>
                        <p>小美温馨提示：在果易得，抽奖和商品兑换是最划算</p>
                    </div>
                </li>
                
                <li>
                	<div class="jf_nm">3.积分能为我带来什么？</div>
                    <div class="jf_wz">
                    	<p id="jfp1">在果易得，小小的积分可以为你赢来大大的福利，因为积分：</p>
                        <p>（1）可以在商城兑换各种超值好礼；</p>
                        <p>（2）能让你小试手气，赢得大奖；</p>
                        <p>（3）能够用来秒杀各种商城定期派发的抵用券；</p>
                        <p>（4）在消费时还能抵现金。</p>
                        <p>小美温馨提示：在果易得，抽奖和商品兑换是最划算</p>
                    </div>
                </li>
                
            </ul>
        </div>
   		<div class="scorll_top"><a href="#scroll_top"><img src="__IMAGES__/scorll_top.png"></a></div>
        <!-- footer -->
       <include file="Public:foot"/> 
        <!-- footer -->
    </div>	
    <!-- warp -->	
</body>


<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/js.js"></script>
<script>

$(document).ready(function(){
	
$(".adcy_mc").click(function(){
	var name = $(this).find("a").html();
	$('#show_city').find("a").html(name);
})	

})


</script>
</html>