<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>果易得</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=yes" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__CSS__/css.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<link rel="stylesheet" href="__CSS__/iconfont1/iconfont1.css">
<link rel="stylesheet" href="__CSS__/iconfont/iconfont.css">

</head>
<body id="scroll_top">
 
测试1  <br/><br/><br/><br/><br/><br/><a style="margin:100px;margin-top:200px;" href="javascript:fun()">点</a>

<!-- footer -->
<include file="Public:foot" />
<!-- footer --> 

</body>

<script type="text/javascript">
  function fun(){
    location.href="{:U('Home/IndexCeshi/ceshi2')}";
  };
</script>



</html>