<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>添加收货地址</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=yes" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__CSS__/css.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<link rel="stylesheet" href="__CSS__/iconfont1/iconfont1.css">
<link rel="stylesheet" href="__CSS__/iconfont2/iconfont2.css">
<link rel="stylesheet" href="__CSS__/iconfont/iconfont.css">

<link rel="stylesheet" type="text/css" href="__CSS__/jquery.selectlist.css">
<script src="__JS__/jquery-2.1.1.min.js"></script>
<script src="__JS__/GlobalProvinces_main.js"></script>
<script src="__JS__/GlobalProvinces_extend.js"></script>
<script src="__JS__/initLocation.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=A607d61b18d43a1ff27abf4ac67da83c"></script>

<style>
.dzinput{
	-webkit-appearance:none;
	}
.ssk_xla {
	-webkit-appearance:none;
	padding-left:0% !important;
	border:1px solid #ccc !important;
	border-radius: 5px;
	background:#FFF;
	width:250px !important;
	margin-left:30px;
	color:#888 !important;
	height:35px !important;
	padding-left:10px !important;
	
	}
.ctrl_s input {
	width: 60%;
	color: #fff;
	border-radius: 5px;
	background: orange;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	margin-top: 5%;
	border:none;
	cursor:pointer;
	margin-left:20%;
	}
</style>
</head>
<body id="scroll_top">
<!-- top --> 

<!-- top --> 
<!-- main_div -->
<div class="main_div">
  <div class="shdz">
    <div class="shdz_bt">
      <p>收货地址</p>
    </div>
    <div class="clear"></div>
    <div class="shdz_xq">
      <ul>
        <li style=" padding-top:30px;">
          <p>默认地址</p>
          <font class="dzform">
            <label>
              <input type="radio" name="RadioGroup1" value="1" id="RadioGroup1_0" checked>
              是</label>
            <label>
              <input type="radio" name="RadioGroup1" value="0" id="RadioGroup1_1">
              否</label>
              </font>
            <br>
          <div class="clear"></div>
        </li>
        <li>
          <p>收货人</p>
          <input class="dzinput" name="consignee" id="consignee" type="text" placeholder="请输入收货人" >
        </li>
        <li>
          <p>手机号</p>
          <input class="dzinput" name="telephone" id="telephone" type="tel" maxlength="11" placeholder="请输入手机号" >
        </li>
        <li>
          <p>省份</p><select class="ssk_xla" id="sheng" name="province" onChange="searchByStationName();"></select>
        </li>
        <li>
          <p>城市</p>
		  <select class="ssk_xla" id="shi" name="city"  onChange="searchByStationName();"></select>  
        </li>
        <li>
          <p>区/县</p>
          <select class="ssk_xla" id="xian" name="country"  onChange="searchByStationName();" ></select>
        </li>
        <script type="text/javascript" charset='utf-8'>
          $(function(){initLocation({});})
      </script> 
        <script language="javascript">
        setup() 
    </script>
        <li>
          <p>详细地址</p>
          <input class="dzinput" name="xiangqing" readonly id="xiangqing" type="text" placeholder="详细地址(请先选择'省,市,区'后填写')" onBlur="searchByStationName();" >
          <input id="result_" type="hidden" />
        </li>
      </ul>
      <div class="shdz_btn"> <a href="javascript:void(0)">
        <p>确认 </p>
        </a> </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<include file="Public:foot" />
<!-- main_div -->
<!--<div class="scorll_top"><a href="#scroll_top"><img src="__IMAGES__/scorll_top.png"></a></div>-->
<!-- footer --> 

<!-- footer --> 
<!--统计流量-->
<div style="display:none;">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257387489'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257387489%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<!--统计流量-->
</body>
<script src="__JS__/jquery.min.js"></script>

<script src="__JS__/jquery.selectlist.js"></script>

<script type="text/javascript">
    var map = new BMap.Map("container");


    var localSearch = new BMap.LocalSearch(map);
    localSearch.enableAutoViewport(); //允许自动调节窗体大小

	function searchByStationName() {
		map.clearOverlays();//清空原来的标注
		var sheng = document.getElementById("sheng").value;
		var shi = document.getElementById("shi").value;
		var qu = document.getElementById("xian").value;
		var keyword = document.getElementById("xiangqing").value;
		keyword = sheng+shi+qu+keyword;
		localSearch.setSearchCompleteCallback(function (searchResult) {
			var poi = searchResult.getPoi(0);
			document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat;
		});
		localSearch.search(keyword);
	} 
</script>


<script>
$(function () {
      $('#xiangqing').click(function(){
        if($('#xian').val()!=''){
          $(this).removeAttr('readonly');
        }
      });
        $(".shdz_btn a").click(function () {
			
            var consignee = $('#consignee').val();
            var telephone = $('#telephone').val();
			var obj = document.getElementsByName("RadioGroup1");
			for(var i=0; i<obj.length; i ++){
				if(obj[i].checked){
					var RadioGroup1=obj[i].value;
				}
			}
			var obj = document.getElementsByName("address_type");
			for(var i=0; i<obj.length; i ++){
				if(obj[i].checked){
					var address_type=obj[i].value;
				}
			}
			var province = $('#sheng').val();
			var city = $('#shi').val();
			var county = $('#xian').val();
			var xiangqing = $('#xiangqing').val();
			var dingwei = $('#result_').val();
			
            if (consignee == '') {
                alert("请填写收货人！");
				$('#consignee').focus();
                return false;
            }
            if (telephone == "") {
				alert("请填写手机号码!");
				$('#telephone').focus();
				return  false;
				}else{ 
					var reg1 = /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;     
						var r = telephone.match(reg1);    
        				if(r==null) {  
        				alert('对不起，您输入的手机格式不正确!'); //请将"日期"改成你需要验证的属性名称! 
							$('#telephone').focus();
						return  false;
				}
				}
			
            if (county == "") {
                alert('请选择区/县！');
                return false;
            }
			
            if (xiangqing == "") {
                alert('请填写详细地址');
				$('#xiangqing').focus();
                return false;
            }
            if(dingwei==''){
                alert('无法获取地址信息！');
                $('#result_').val('');
                return false;
            }
			
            $.ajax({
                url: "{:U('/Home/Order/add_order')}",
                type: "post",
                dataType: "json",
                data: {
                    consignee: consignee,
                    telephone: telephone,
					RadioGroup1: RadioGroup1,
					address_type: address_type,
					province: province,
					city: city,
					county: county,
                    xiangqing: xiangqing,
					dingwei:dingwei

                }
            }).done(function (g) {
				alert(g.content);
				location.href=g.url;
            })

        })
		
		
    })
</script>
<!-- xlk_js -->
</html>