<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>会员等级</title>
<meta name="keywords" content="果易得"/>
<meta name="description" content="果易得"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=yes" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__CSS__/bootstrap.css"/>
<link rel="stylesheet" href="__CSS__/css.css">
<link rel="stylesheet" href="__CSS__/iconfont1/iconfont1.css">
<link rel="stylesheet" href="__CSS__/iconfont/iconfont.css">
</head>
<body id="scroll_top">
<!-- warp -->
<div class="warp" style="background:#fff;"> 
  <!-- jf_top -->
  <div class="jf_top">
    <div class="jf_cen">
      <div class="jf_jt"><a href="jifen.html"><i class="icon iconfont">&#xe61b;</i>我的果园等级</a></div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- jf_top -->
  <div class="jf_ban"><img src="__IMAGES__/dj.jpg" width="100%"></div>
  <div class="gydj">
    <div class="gydjnr">
      <p class="hjtj">会员达成条件</p>
      <div><img src="__IMAGES__/hy.jpg" width="100%"></div>
      <p class="hjtj">会员六重福利</p>
      <div class="hybg">
        <table width="0" border="0">
          <tr>
            <td width="80">&nbsp;</td>
            <td width="80" style="background:#ccc;height:30px;">V0</td>
            <td width="80" style="background:#ccc;height:30px;">V1</td>
            <td width="80" style="background:#ccc;height:30px;">V2</td>
            <td width="80" style="background:#ccc;height:30px;">V3</td>
            <td width="80" style="background:#ccc;height:30px;">V4</td>
            <td width="80" style="background:#ccc;height:30px;">V5</td>
          </tr>
          <tr>
            <td>新人礼包</td>
            <td colspan="6">新人注册礼 & 首次下单额外赠送2倍积分</td>
          </tr>
          <tr>
            <td>摇一摇</td>
            <td>3次/天</td>
            <td>3次/天</td>
            <td>4次/天</td>
            <td>4次/天</td>
            <td>5次/天</td>
            <td>5次/天</td>
          </tr>
          <tr>
            <td>订单积分奖励</td>
            <td>-</td>
            <td>-</td>
            <td>1.5倍</td>
            <td>2倍</td>
            <td>2.5倍</td>
            <td>3倍</td>
          </tr>
          <tr>
            <td>月度优惠<br>
              放送</td>
            <td>-</td>
            <td>20元<br>
              优惠券组合</td>
            <td>40元<br>
              优惠券组合</td>
            <td>60元<br>
              优惠券组合</td>
            <td>80元<br>
              优惠券组合</td>
            <td>100元<br>
              优惠券组合</td>
          </tr>
          <tr>
            <td rowspan="2">生日礼包</td>
            <td colspan="3">生日当月下单，额外获得2倍积分</td>
            <td colspan="3">生日当月下单，额外获得2倍积分，另有尊享生日商品</td>
          </tr>
          <tr>
            <td colspan="6">注：充值及余额支付订单不享受额外2倍积分</td>
          </tr>
          <tr>
            <td>新品尝鲜</td>
            <td>试吃申请</td>
            <td>试吃申请</td>
            <td>试吃申请</td>
            <td>至少<br>
              1次/6个月</td>
            <td>至少<br>
              1次/每季度</td>
            <td>至少<br>
              1次/45天</td>
          </tr>
          <tr>
            <td>48H退换货</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
          </tr>
        </table>
        <div class="hyxz">
          <p><img src="__IMAGES__/hyxz.jpg" width="100%"></p>
          <p class="hytitle">1.累计消费金额</p>
          <p>● 累计消费总金额计算周期为滚动的一年。例如当日为2015年1月1日，计算周期即为2014年1月1日-2015年1月1日为期一年，以此类推。</p>
          <p>● 累计消费总金额为订单实际支付，不包含积分及优惠券的抵充金额；</p>
          <p>● 使用劵卡及充值余额购买，不计入积分计算；</p>
          <p>● 累累计消费总金额仅限同一ID，不同ID不可累计、转存等。</p>
          <p class="hytitle">2.会员等级升降</p>
          <p>会员等级升降级均按照订单的“已完成”状态进行统计和等级变更。</p>
          <p>计算周期：按照当日日期向前滚动一年，统计这一年内的累计购买金额和累计购买次数。</p>
          <p>● 升级：订单状态转变为“已完成”后自动升级</p>
          <p>● 降级：若在计算周期内未达到会员等级计算条件，将自动保留现有等级3个月。3个月后若仍未达到条件，将自动降级。</p>
          <p class="hytitle">3.会员日</p>
          <p>● 每月22日作为会员日，果园会推出一些会员专享款商品，指定会员尊享；</p>
        </div>
      </div>
    </div>
  </div>
  <div class="scorll_top"><a href="#scroll_top"><img src="__IMAGES__/scorll_top.png"></a></div>
  <!-- footer -->
  <include file="Public:foot" />
  <!-- footer --> 
</div>
<!-- warp -->
</body>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/js.js"></script>
<script>

$(document).ready(function(){
	
$(".adcy_mc").click(function(){
	var name = $(this).find("a").html();
	$('#show_city').find("a").html(name);
})	

})


</script>
</html>