<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>客服中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=yes" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__CSS__/css.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<link rel="stylesheet" href="__CSS__/iconfont1/iconfont1.css">
<link rel="stylesheet" href="__CSS__/iconfont/iconfont.css">
</head>
<body id="scroll_top">
<!-- top --> 

<!-- top --> 
<!--lxmj-->
<div class="salebox">
  <div class="sale">
    <div class="jf_jt" style="border-bottom:1px solid #e5e5e5; float:none; width:100%; padding-bottom:5px;"><a href="{:U('Member/service')}"><i class="icon iconfont"><img src="__IMAGES__/iconfont-fanhui.svg" width="100%" style="margin-top:5px;"></i>客服中心</a></div>    
    
    <div class="clear"></div>
	
    <div class="kfrx"><span>客服热线1</span> <span style="float:right;">13732201536</span>
      <div class="clear"></div>
    </div>	
	
    <div class="kfrx"><span>客服热线2</span> <span style="float:right;">13185034277</span>
      <div class="clear"></div>
    </div>

	
	
    <div class="kfrx">
     <a href="{:U('Member/lxwm1')}"><span>进入微信公众号</span></a> <span style="float:right;">＞</span>
      <div class="clear"></div>
    </div>
    <div class="kfrx"><a href="{:U('Member/thzc')}"><span>退换货政策</span> <span style="float:right;">＞</span>
      <div class="clear"></div>
      </a></div>
     <div class="kfrx"><a href="{:U('Member/lxwm')}"><span>退款</span> <span style="float:right;">＞</span>
      <div class="clear"></div>
      </a></div>
  </div>
</div>
<!--lxmj--> 
<!-- main_div --> 

<!-- main_div --> 
<!-- footer --> 
<include file="Public:foot" /> 
<!-- footer --> 

</body>
<script src="__JS__/jquery.min.js"></script>
<!-- banner -->
<script src="__JS__/swiper.min.js"></script>

<!-- banner -->
<script src="__JS__/js.js"></script>
</html>